
body{
    background-color: grey;
}
    
    
                                             /* nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(59, 61, 63);
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(55, 170, 182);
}

                                            /* description */
#container1{
    background-color: rgb(84, 107, 237);
    padding-left: 60px;
    
    
}
.description{
    background-color: #589cc6;
    width: 70%;


}

































                                                /* contact */
#container7{ 
    background-color: rgb(84, 107, 237);
    padding-bottom: 20px;
    padding-left: 40px;
}
#contact{
    background-color: #589cc6;
    width: 30%;
    height: 320px;
    margin-left: 20px;
}

.row{padding-left: 20px;
    padding-top: 10px;
}
.text{
    padding-left: 20px;
    padding-top: 10px;
}










