                                    /* body header html */
html{
    height: 100%;
}
body{
    background-image: url(/assets/img/concept-papier-peint-beton-colore-texture_53876-31799.jpeg);
    background-size: cover;
    height: 100%;
}
.container-fluid{
    width: 80%;
    
    margin-top: 100px;
}
.row{
    background-color: rgba(0, 0, 0, 0.523);
    color: white;
    
}



                                    /* nav bar */

                                        
    
    
                                    

                                        


                                   



                                    




                                    

                                    


    





                                        /* media fond ecran */


                                        /* typo */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body{
    font-family: 'Roboto';
}












